/*Style for background image*/
.root {
    -fx-background-image: url("file:Elements/BG.png");
    -fx-background-size: cover;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
}
